.error {
  height: 20px;
  position: relative;
  left: lendingusa_spacing_xs - 7;
  top: 0;
  color: $accent_color;
  padding-left: 18px;
  font-size: 12px;
  word-wrap: break-word;
  font-size: 14px;
  margin: 0 0 $lendingusa_spacing_xs -2;
}

.select {
  margin: 0;
}