.footerContent {
  margin: 30px;
  font-size: .8rem;

  p {
    margin-bottom: 15px;
  }
}

.legal {
  margin: 0 auto !important;
  width: 100%;
}

.security {
  padding-left: 15px;
  padding-right: 15px;
}

.copyright {
  padding-left: 15px;
  padding-right: 15px;

  p {
    align-self: center;
    margin-top: 35px;
    text-align: left;
  }
}