// Spacing
$lendingusa_spacing_xs: 12px;
$lendingusa_spacing_sm: 20px;
$lendingusa_spacing_md: 28px;
$lendingusa_spacing_lg: 40px;
$lendingusa_spacing_xlg: 48px;

$light_gray: #CACACA;
$lendingusa_gray1: #F2F2F2;
$lendingusa_gray2: #D1D1D1;
$lendingusa_gray3: #959595;
$lendingusa_gray6: #313131;

$main_black: #002147;
$main_white: #FFFFFF;
$accent_color: #d71f28;

$lendingusa_black_40:   rgba(0, 0, 0, 0.4);
$lendingusa_black_overlay: rgba(#313131, 0.5);

// font size
$lendingusa_font_xs: 12px;
$lendingusa_font_md: 20px;